.footer {
  display: flex;
  width: 100%;
  padding: 16px;
  justify-content: space-around;
}

.footer a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0.3;
  color: #006ffd;
  text-decoration: none;
  align-items: center;
}

.footer a.active {
  opacity: 1;
}

.footer a img {
  width: 20px;
  height: 20px;
}
